*{
    margin: 0;
    padding: 0;
}

/* HEADER INDEX START*/

html{
    scroll-behavior: smooth;
}

body#indexBody{
    text-align: center;
    height: 2400px;
    position: relative;
    width: auto;
    display: flex;
    background-repeat: no-repeat;
    background: radial-gradient(74.26% 56.67% at 52.94% 43.33%, #0F2546 27.08%, #305D84 60.42%, #0F2546 92.71%);
    background-size: cover;
    background-position: center center;
    scroll-behavior: smooth;
}

.containerGridsindex{
    display: grid;
    grid-template-columns: repeat(19, 100px);
    grid-template-rows: repeat(24, 100px);
}

header{
    height: 100px;
    background: white;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.headerGraguslogo a{
    position: fixed;
    width: 312px;
    height: 80px;
    left: 34px;
    top: 11px;
    border-radius: 15px;
    background-image: url(../assets/images/gragus_logo.jpg);
    background-size: 312px 80px;
}

.navBar{
    position: absolute;
    left: 400px;
    top: 30px;
}

.ulIndex{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ulIndex li {
    display: inline;
}

.ulIndex li a {
    right: 550px;
    top: 37px;
    display: inline;
    padding: 8px;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    width: 195px;
    height: 39px;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.ulIndex li a:hover {
    background-color:#b0d1ef;
}

/* HEADER INDEX END*/

/* MAIN INDEX START*/

.bannerArea{
    left: 215px;
    top: 160px;
    width: 1440px;
    height: 720px;
    position: absolute;
    background-image: url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.bannerLuminosity{
    position: absolute;
    width: 1440px;
    height: 383px;
    left: 0%;
    right: 0%;
    top: 23.47%;
    bottom: 23.33%;
    background: rgba(255, 255, 255, 0.28);
    background-size: cover;
    background-position: center center;

}

.bannerLuminosity h2{
    position: absolute;
    left: 14.93%;
    right: 12.01%;
    top: 8%;
    bottom: 46.11%;
    text-align: left;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 135%;
    
    text-decoration-line: underline;
    text-transform: uppercase;
    
    color: #000000;
    
    mix-blend-mode: hard-light;
}

.bannerLuminosity h3{
    position: absolute;
    left: 14.93%;
    right: 19.93%;
    top: 45%;
    bottom: 22.64%;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #000000;
    text-align: left;
}

main#indexMain{
    position: absolute;
    width: 1903px;
    height: 1080px;
    left: -215px;
    top: 950px;
    background: white;
}

.distribuidoresText{
    position: absolute;
    width: 800px;
    height: 25px;
    left: 535px;
    top: 40px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000000;
    align-items: center;
}


.gracoLogopng a{
    width: 285px;
    height: 85px;
    left: 100px;
    top: 100px;
    position: absolute;
    background-image: url(../assets/images/graco-logo.png);
    background-size: 285px 85px;
    background-repeat: no-repeat;
}

.ravenLogo a{
    width: 277px;
    height: 80px;
    left: 467px;
    top: 105px;
    position: absolute;
    background-image: url(../assets/images/raven-logo.png);
    background-size: 277px 80px;
    background-repeat: no-repeat;
}

.versaflexLogo a{
    width: 230px;
    height: 175px;
    left: 817px;
    top: 55px;
    position: absolute;
    background-image: url(../assets/images/logo-versaflex.png);
    background-size: 230px 175px;
    background-repeat: no-repeat;
}

.spiLogo a{
    position: absolute;
    width: 330px;
    height: 105px;
    left: 1135px;
    top: 95px;
    background-image: url(../assets/images/spi-logo.png);
    background-size: 330px 105px;
    background-repeat: no-repeat;
}

.ppgLogo a{
    position: absolute;
    width: 167px;
    height: 118px;
    left: 1595px;
    top: 80px;
    background-image: url(../assets/images/ppg-logo.png);
    background-size: 167px 118px;
    background-repeat: no-repeat;
}

.serviciosText{
    position: absolute;
    width: 574px;
    height: 115px;
    left: 620px;
    top: 250px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 160%;
    text-align: center;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.blueRectangle{
    position: absolute;
    width: 225px;
    height: 5px;
    left: 800px;
    top: 345px;
    align-items: center;
    background: #005696;
    border: 1px solid #000000;
}


.ventaText{
    position: absolute;
    width: 574px;
    height: 115px;
    left: 625px;
    top: 385px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.poliuretanoText{
    position: absolute;
    width: 309px;
    height: 64px;
    left: 240px;
    top: 460px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 159.49%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #000000;

}

.poliureaText{
    position: absolute;
    width: 309px;
    height: 64px;
    left: 775px;
    top: 460px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 159.49%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #000000;

}

.maquinariaText{
    position: absolute;
    width: 309px;
    height: 64px;
    left: 1320px;
    top: 460px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 159.49%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    
    color: #000000;

}

.imagePoliuretano{
    position: absolute;
    width: 404px;
    height: 345px;
    left: 187px;
    top: 545px;
    background: url(../assets/images/w-watermark-covers/poliuretano03_g.jpg);
    border-radius: 40px;
    background-repeat: no-repeat;
    

}

.imagePoliurea{
    position: absolute;
    width: 404px;
    height: 345px;
    left: 730px;
    top: 545px;
    background: url(../assets/images/w-watermark-covers/spi_galeria06_g.jpg);
    border-radius: 40px;
    background-repeat: no-repeat;
    

}

.imageMaquinaria{
    position: absolute;
    width: 404px;
    height: 345px;
    left: 1273px;
    top: 545px;
    background: url(../assets/images/minneapolis-watermark/graco-equipment-w.jpg);
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}

.underimagesTextservices{
    position: absolute;
    width: 1270px;
    height: 69px;
    left: 300px;
    top: 935px;
    
    font-family: 'Arial';
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;

}

.blueRectangle2{
    position: absolute;
    width: 225px;
    height: 5px;
    left: 800px;
    top: 1050px;
    align-items: center;
background: #005696;
border: 1px solid #000000;
}

/* MAIN INDEX END*/

/* INDEX FOOTER STARTS*/

.footerBoxindex{
    grid-column: 1 /20 ;
    grid-row: 24 / 24 ;
    margin-right: -0.15%;
    background: white;
}

.footerLogoindex {
    position: absolute;
    width: 60px;
    height: 60px;
    left: -150px;
    top: 2160px;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.gragusTextallrightsindex {
    position: absolute;
    width: 383px;
    height: 26px;
    left: 1275px;
    top: 2180px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;

}

/* INDEX FOOTER END*/

/* PRODUCTOS BODY START*/

body#productosBody{
    text-align: center;
    position: relative;
    width: auto;
    display:flex;
    flex-direction: column;
    background: url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-origin: content-box;
    overflow-y: scroll;
    background-position-y: -350px;
    text-align: center;
}

.containerProductos{
    display: grid;
    grid-template-columns: repeat(auto, 100px);
    grid-template-rows: repeat(33, 100px);

}

/* MAIN PRODUCTOS STARTS*/

/*BOX NUMBER ONE*/
.b1{ /* poliuretano*/
    grid-column: 1 / 21;
    grid-row: 1 / 9;
    margin-top: 6%;
    background: white;
}

.h3Poliuretano{
    position: absolute;
    left: 37.75%;
    right: 37.66%;
    top: 2.5%;
    bottom: 92.77%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.blueRectangleproductspoliuretano{
    position: absolute;
    align-self: center;
    right: 45%;
    top: 5.95%;
    height: 6px;
    width: 188px;
    background: #005696;
}

.h4Textpoliuretano{
    position: absolute;
    width: 1755px;
    height: 196px;
    left: 30px;
    top: 575px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    color: #000000;
    text-align: center;
}


.imagePoliuretanoproducts{
    position: absolute;
    width: 800px;
    height: 268px;
    background: url(../assets/images/w-watermark-covers/poliuretano03_g.jpg);
    border-radius: 40px;
    top: 250px;
    left: 533px;
    align-self: center;
}

/* BOX NUMBER TWO*/
.b2{ /*warningList / warningText2 / warningList*/
    grid-column: 1 / 21;
    grid-row: 9 / 13;
    margin-top: 0.2%;
    background: #FFFFFF;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.5);
}

.warningText{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: right;
    letter-spacing: 0.07em;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FF0000;
    position: absolute;
    width: 141.58px;
    height: 225px;
    left: 0px;
    bottom: 2230px;
}

.warningText2{
    position: absolute;
    width: 380.1px;
    height: 28px;
    left: 35px;
    bottom: 2355px;
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: #000000;
}

.warningList{
    position: absolute;
    width: 615px;
    height: 130px;
    left: 50px;
    bottom: 2200px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: left;
    letter-spacing: 0.07em;
    
    color: #000000;
}

.pdfList{
    position: absolute;
    width: 355px;
    height: 10px;
    left: 1525px;
    top: 836px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    vertical-align: top;
    color: #000000;
    text-align: right;
    text-decoration: none;
    list-style-position: inside;
    list-style-type: none;
}

.pdfListdos{
    position: absolute;
    width: 500px;
    height: 10px;
    left: 1335px;
    top: 950px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    vertical-align: top;
    color: #000000;
    text-align: left;
    text-decoration: none;
    list-style-position: inside;
    list-style-type: none;
}

.pdfText{ 
    position: absolute;
    width: 375px;
    height: 10px;
    left: 1235px;
    top: 836px;
    font-family: 'Mulish';
    font-style: normal;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
    list-style: none;
    text-align: center;
} 



/* BOX NUMBER THREE*/
.b3{ /*poliurea*/
    grid-column: 1 / 21;
    grid-row: 13 / 21;
    background: white;
    margin-top: 0.3%;
}

.h3Poliurea{
    position: absolute;
    top: 38%;
    right: 41%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.blueRectangleproductspoliurea{
    position: absolute;
    left: 45%;
    top: 38.90%;
    height: 6px;
    width: 188px;
    background: #005696;
}

.imagePoliureaproducts{
    position: absolute;
    width: 800px;
    height: 268px;
    background: url(../assets/images/prod-quim-watermark/spi_galeria53_g-enh.jpg);
    background-position: 800px;
    background-repeat: repeat-x;
    background-size:contain;
    border-radius: 40px;
    left: 533px;
    top: 1330px;
    align-self: center;
}

.h4Textpoliurea{
    position: absolute;
    width: 1825px;
    height: 196px;
    left: 19.03px;
    top: 1630px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}


/* BOX NUMBER FOUR*/
.b4{ /* maquinaria*/
    grid-column: 1 / 21;
    grid-row: 20 / 29;
    margin-top: 8%;
    background: white;
}

.h3Maquinaria{
    position: absolute;
    top: 64%;
    right: 38.70%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;

}

.blueRectangleproductsmaquinaria{
    position: absolute;
    left: 45%;
    top: 65%;
    height: 6px;
    width: 188px;
    background: #005696;
}

.h4Gracoreactor{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    position: absolute;
    width: 900px;
    height: 52px;
    right: 26%;
    top: 65.5%;
}

.imageMaquinariaproducts{
    position: absolute;
    width: 800px;
    height: 268px;
    background: url(../assets/images/fotospaginaweb/hpfc-mid-production.png);
    background-position: 800px;
    background-repeat: repeat-x;
    background-size:contain;
    border-radius: 40px;
    left: 533px;
    top: 2230px;
    align-self: center;

}

.h4Textmaquinaria{
    position: absolute;
    width: 1825px;
    height: 196px;
    left: 19.03px;
    top: 2530px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.info{
    position: absolute;
    top: 3000px;
    left: 17%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.info a{
    color: #000000;
    text-decoration:underline;
}
.info a:hover{
    color: lightgreen;
}

/* MAIN PRODUCTOS STARTS*/
/* PRODUCTOS FOOTER W GRIDS STARTS*/
.footerProductos{
    grid-column: 1 / 21;
    grid-row: 33 / 33;
    background: white;
}

.footerLogoproducts{
    position: absolute;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    width: 56px;
    height: 55px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    top: 3225px;
    right: 1775px;
}

.footerTextallrightsproducts{
    position: absolute;
    width: 375px;
    height: 10px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    top: 3235px;
    right: 25px;
}
/* PRODUCTOS FOOTER W GRIDS STARTS*/

/*BODY NOSOTROS STARTS*/
body#nosotrosPage{
    text-align: center;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    background: url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-origin: content-box;
    overflow-y: scroll;
    background-position-y: -350px;
    text-align: center;

}
/*BODY NOSOTROS ENDS*/

/*MAIN NOSOTROS STARTS*/
.nosotrosh2Text{    
    position: absolute;
    left: 770px;
    top: 145px;
    text-shadow: 7px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 0px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration-line: underline;
    text-transform: uppercase;
    
    color: #FFFFFF;

}

.nosotrosContainer{
    display: grid;
    grid-template-columns: repeat(auto, 100px);
    grid-template-rows: repeat(15, 100px);

}

.nosotrosPages1{
    grid-column: 1 / 21;
    grid-row: 3 / 8;
    margin-bottom: 5%;
    background: white;

}



.nosotrosText1{
    position: absolute;
    width: 1350px;
    height: 300px;
    left: 500px;
    top: 220px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
    text-align: left;
}


.imageGragusstandmanguera{
    position: absolute;
    width: 400px;
    height: 275px;
    left: 50px;
    top: 250px;
    background: url(../assets/images/stand-costa-salguero/carrusel/equipo_2.jpg);
    border-radius: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-position: center center;

}


.nosotrosPages2{
    grid-column: 1 / 21;
    grid-row: 8 / 15;
    margin-bottom: 4.5%;
    background: white;
}


.nosotrosText2{
    position: absolute;
    width: 1300px;
    height: 309px;
    left: 500px;
    top: 725px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
    text-align: left;
}


.imageGragusstandmanguera2{
    position: absolute;
    width: 400px;
    height: 275px;
    left: 50px;
    top: 835px;
    background: url(../assets/images/stand-costa-salguero/carrusel/equipo_2.jpg);
    border-radius: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-position: center center;

}


.footerBoxnosotros{
    grid-column: 1 / 21;
    grid-row: 15 / 15;
    background: #FFFFFF;
}

.gragusTextallrightsnosotros{
    position: absolute;
    width: 375px;
    height: 10px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    top: 1445px;
    right: 25px;

}
/*MAIN NOSOTROS ENDS*/

/*FOOTER NOSOTROS STARTS*/
.footerLogonosotros{
    position: absolute;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    width: 56px;
    height: 55px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    top: 1425px;
    right: 1775px;
}
/*FOOTER NOSOTROS ENDS*/

/*CLIENTES BODY STARTS*/
body#clientesPage{
    text-align: center;
    height: 1000px;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    background: radial-gradient(74.26% 56.67% at 52.94% 43.33%, #0F2546 27.08%, #305D84 60.42%, #0F2546 92.71%)
    
}
/*CLIENTES BODY ENDS*/

/*CLIENTES MAIN STARTS*/
.containerClientes{
    display: grid;
    grid-template-columns: repeat(auto, 100px);
    grid-template-rows: repeat(10, 100px);
}


.referenciash2Text{
    position: absolute;
    left: 475px;
    right: 10px;
    top: 3%;
    bottom: 90%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000000;

}


.referenciasPage{
    position: absolute;
    width: 1200px;
    height: 710px;
    left: 325px;
    top: 125px;
    background: white;
}

.blueRectanglereferences{
    position: absolute;
    width: 195px;
    height: 7px;
    left: 500px;
    top: 80px;
    background: #005696;
}


.referenciasPage h4{
    position: absolute;
width: 1175px;
height: 200px;
left: 20px;
top: 500px;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
text-align: left;
color: #000000;
}


.imageReferencias{
    position: absolute;
    width: 1375px;
    height: 345px;
    left:-88px;
    top: 125px;
    background-image: url(../assets/images/referencias.png);
    background-size:contain;
    background-repeat: no-repeat;
    -webkit-background-size:1200px 345px;
    background-position: center center;
    
}
/*CLIENTES MAIN ENDS*/

/*CLIENTES FOOTER STARTS*/
.footerClientes{
    grid-column: 1 / 21;
    grid-row: 10/ 10;
    background-color: white;
}

.footerClienteslogo{
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    position: absolute;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    width: 56px;
    height: 55px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    top: 925px;
    right: 1775px;
}

.footerClientestext{
    position: absolute;
    width: 375px;
    height: 10px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    top: 940px;
    right: 25px;
}

/*CLIENTES FOOTER ENDS*/

/*CONTACTO BODY STARTS*/
body#contactoPage{
    text-align: center;
    position: relative;
    width: auto;
    display:flex;
    flex-direction: column;
    background: url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-origin: content-box;
    overflow-y: scroll;
    background-position-y: -350px;
    text-align: center;
}

.contactosGrid{
    display: grid;
    grid-template-columns: repeat(19, 100px);
    grid-template-rows: repeat(14, 100px);
}

/*CONTACTO BODY ENDS*/
/*CONTACTO MAIN STARTS*/

.c1{
    grid-column: 1 /20 ;
    grid-row: 2 / 5 ;
    margin-right: -0.15%;
    background: #DBDBDB;
    margin-bottom: 3%;
}

.c2{
    grid-column: 1 /20 ;
    grid-row: 5 / 6 ;
    margin-right: -0.15%;
    margin-top: -2.5%;
    margin-bottom: -2%;
    background: #ABABAB;
}

.c3{
    grid-column: 6 /14 ;
    grid-row: 6 / 13 ;
    margin-right:-3.53%;
    margin-top: 4.5%;
    margin-bottom: -5%;
    background: white;
}

.mapsLogo a{
    background-image: url(../assets/images/maps-logo.png);
    position: absolute;
    width: 295px;
    height: 200px;
    background-repeat: no-repeat;
    left: 750px;
    top: 1090px;
    background-size: 295px 200px;
}

.contacteseHoy{
    position: absolute;
    left: 27%;
top: 11%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 0px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}

.horariosArg{
    position: absolute;
width: 731px;
height: 62px;
left: 590px;
top: 270px;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 30px;
line-height: 29px;
color: #000000;
text-align: center;
}

.telefonosArg{
    position: absolute;
width: 545px;
height: 54px;
left: 50px;
top: 380px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 50px;
color: #000000;
text-align: center;
}
.correoElectronico{
    position: absolute;
width: 358px;
height: 48px;
left: 780px;
top: 380px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 50px;
color: #000000;
text-align: center;
}
.direcArg{
    position: absolute;
width: 481px;
height: 88px;
left: 1350px;
top: 380px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 50px;
text-align: center;
}



/*CONTACTO FOOTER STARTS*/

.containerfooterContactos{
    display: grid;
    grid-template-columns: repeat(19, 100px);
    grid-template-rows: repeat(23, 100px);
}

.footerBoxcontactos{
    grid-column: 1 /20 ;
    grid-row: 14 / 14 ;
    margin-right: -0.15%;
    background: white;
}

.footerLogocontactos{
    position: absolute;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    width: 56px;
    height: 55px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    top: 1325px;
    right: 1775px;
}

.gragusTextallrightscontactos{
    position: absolute;
    width: 375px;
    height: 10px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    top: 1340px;
    right: 25px;
}

/*CONTACTO FOOTER ENDS*/

/*GALERIA BODY STARTS*/
body#galeriaPage{
    text-align: center;
    height: 1200px;
    position: relative;
    width: auto;
    display: flex;
    background-repeat: no-repeat;
    background: #ABABAB;
    background-size: cover;
    background-position: center center;
    scroll-behavior: smooth;
}

.containerGalery{
    display: grid;
    grid-template-columns: repeat(19, 100px);
    grid-template-rows: repeat(6, 100px);
}

/*GALERIA BODY ENDS*/

/*GALERIA GRIDS STARTS*/

.g1{
    grid-column: 1 /20 ;
    grid-row: 1 / 4 ;
    margin-top: 1%;
    margin-bottom: -3%;
    margin-right: -0.15%;
    background: white;
}

.galeryText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    color: #000000;
    position: absolute;
    width: 1100px;
    height: 50px;
    left: 410px;
    top: 850px;    
}

.galeryText2{
    position: absolute;
    width: 1818px;
    height: 313px;
    left: 51px;
    top: 950px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}

/*GALERIA GRIDS ENDS*/




/*GALERIA FOOTER STARTS*/
.footerGalery{
    grid-column: 1 /20 ;
    grid-row: 6 / 6 ;
    margin-top: 1%;
    margin-right: -0.15%;
    background: white;
}

.gragusTextallrightsgalery{position: absolute;
    width: 383px;
    height: 26px;
    left: 1500px;
    top: 1370px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.footerLogogalery{
    position: absolute;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    width: 56px;
    height: 55px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    top: 1370px;
    right: 1775px;
}

/*GALERIA FOOTER ENDS*/

/*GALERIA CAROUSEL STARTS*/
.carousel-inner{
    width: 1440px;
    height: 720px;
    margin-top: 10%;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.carouselCaption{
    position: absolute;
    width: 277px;
    height: 60px;
    left: 1280px;
    top: 790px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 50px;
    text-align: center;
    color: white;
}

/*GALERIA CAROUSEL ENDS*/

/* MEDIA QUERY INDEX - 768px*/

@media (max-width: 768px){
    body#indexBody{
        text-align: center;
        height: 1500px;
        width: fit-content;
        position: relative;
        display: flex;
        background-repeat: no-repeat;
        background: white;
        background-size: cover;
        background-position: center center;
        scroll-behavior: smooth;
    }
    
    header{
        position: fixed;
        height: 150px;
        background:white;
        width: 768px;
    }
    
    .headerGraguslogo a{
        position: fixed;
        width: 250px;
        height: 80px;
        left: 265px;
        top: 20px;
        border-radius: 15px;
        background-image: url(../assets/images/gragus_logo.jpg);
        background-repeat: no-repeat;
        background-size: 250px 80px;
    
    }
    .navBar{
        position: fixed;
        left: 0px;
        top: 110px;
        width: 767px;
    }
    .ulIndex{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .ulIndex li {
        display: inline;
    }
    
    .ulIndex li a {
        right: 550px;
        top: 37px;
        display: inline;
        padding: 0px 5px;
        text-align: center;
        text-decoration: none;
        width: 195px;
        height: 39px;
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 39px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .ulIndex li a:hover {
        background-color:#b0d1ef;
    }
    /* HEADER INDEX END*/
    /* MAIN INDEX START*/
    .bannerArea{
        left: 0px;
        top: 150px;
        width: 768px;
        height: 450px;
        position: absolute;
        background-image: url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
        -webkit-background-size: cover;
        background-size:cover;
        background-position: center center;
        
    }
    .bannerLuminosity h2{
        position: absolute;
        left: 5px;
        top: 20%;
        width: 767px;
        bottom: 46.11%;
        text-align: left;
        font-family: 'Cuprum';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 50%;
        text-decoration-line: none;
        text-transform: uppercase;
        color: #000000;
        mix-blend-mode: hard-light;
    }
    #lineBreakbanner1::after{
        content: "\a";
        white-space: pre;
    }
    #lineBreakbanner2::before{
        content: "\a";
        white-space: pre;
    }
    .bannerLuminosity{
        position: absolute;
        width: 768px;
        height: 75px;
        left: 0%;
        top: 35%;
        background: rgba(255, 255, 255, 0.28);
        background-size: cover;
        background-position: center center;
    }
        .bannerLuminosity h3 { /*NOT DISPLAYED*/
        position: absolute;
        left: 5%;
        width: 768px;
        right: 5%;
        top: 20%;
        bottom: 20%;
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
        display: none;
        }
        main#indexMain {
        position: absolute;
        width: 767px;
        height: auto;
        left: auto;
        top: 450px;
        }
        
        .distribuidoresText {
        position: relative;
        width: 768px;
        height: auto;
        left: auto;
        top: 900px;
        text-align: center;
        font-size: 20px;
        line-height: 1.2;
        }
        .gracoLogopng a{
            width: 285px;
            height: 85px;
            left: 100px;
            top: 900px;
            position: absolute;
            background-image: url(../assets/images/graco-logo.png);
            background-size: 285px 85px;
            background-repeat: no-repeat;
        
        }
        
        
        .ravenLogo a{
            width: 277px;
            height: 80px;
            left: 100px;
            top: 900px;
            position: absolute;
            background-image: url(../assets/images/raven-logo.png);
            background-size: 277px 80px;
            background-repeat: no-repeat;
        
        }
        
        .versaflexLogo a{
            width: 230px;
            height: 175px;
            left: 100px;
            top: 900px;
            position: absolute;
            background-image: url(../assets/images/logo-versaflex.png);
            background-size: 230px 175px;
            background-repeat: no-repeat;
        
        }
        
        .spiLogo a{
            position: absolute;
            width: 330px;
            height: 105px;
            left: 100px;
            top: 900px;
            background-image: url(../assets/images/spi-logo.png);
            background-size: 330px 105px;
            background-repeat: no-repeat;
        
        }
        .ppgLogo a{
            position: absolute;
            width: 167px;
            height: 118px;
            left: 100px;
            top: 900px;
            background-image: url(../assets/images/ppg-logo.png);
            background-size: 167px 118px;
            background-repeat: no-repeat;
        }
        
        .serviciosText {
            position: relative;
            width: 768px;
            height: auto;
            left: auto;
            top: 950px;
            font-size: 30px;
            line-height: 1.2;
        }
        .blueRectangle { /*NOT DISPLAYED*/
            position: relative;
            width: 50%;
            height: 5px;
            left: 25%;
            top: 10%;
            margin: 20px 0;
            background: #005696;
            border: 1px solid #000000;
            display: none;
        }
        .ventaText {
            position: absolute;
            width: 700px;
            height: auto;
            left: 50px;
            top: 900px;
            font-size: 18px;
            line-height: 1.2;
        }
        .poliuretanoText {
            position: relative;
            width: 760px;
            height: auto;
            left: 0px;
            top: 300px;
        }
        .poliureaText {
            position: absolute;
            width: 767px;
            height: 64px;
            left: 0px;
            top: 460px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 159.49%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
        }
        .maquinariaText {
            position: absolute;
            width: 309px;
            height: 64px;
            left: 0px;
            top: 460px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 159.49%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
        }
        .imagePoliuretano {
            position: absolute;
            align-items: center;
            width: 404px;
            height: 150px;
            left: 0px;
            top: 25px;
            background: url(../assets/images/w-watermark-covers/poliuretano03_g.jpg);
            border-radius: 40px;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            border-radius: 20px;
        }
        .imagePoliurea {
            position: absolute;
            width: 404px;
            height: 345px;
            left: 0px;
            top: 545px;
            background: url(../assets/images/w-watermark-covers/spi_galeria06_g.jpg);
            border-radius: 40px;
            background-repeat: no-repeat;
        }
        .imageMaquinaria {
            position: absolute;
            width: 404px;
            height: 345px;
            left: 0px;
            top: 545px;
            background: url(../assets/images/minneapolis-watermark/graco-equipment-w.jpg);
            border-radius: 40px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
        }
        .underimagesTextservices {
            position: absolute;
            width: 768px;
            height: 69px;
            left: 0px;
            top: 1000px;
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            display: none;
        }
        .blueRectangle2 { /*NOT DISPLAYED*/
            position: absolute;
            width: 225px;
            height: 5px;
            left: 800px;
            top: 1050px;
            background: #005696;
            border: 1px solid #000000;
            display: none;
        }
        .containerGridsindex{/*NOT DISPLAYED*/
            display: grid;
            grid-template-columns: repeat(19, 100px);
            grid-template-rows: repeat(24, 100px);
            display: none;
        }
        .footerBoxindex { /*NOT DISPLAYED*/
            grid-column: 1 /19 ;
            grid-row: 24 / 24 ;
            margin-right: -3.53%;
            background: white;
            display: none;
        }
        .footerLogoindex { /*NOT DISPLAYED*/
            position: absolute;
            width: 60px;
            height: 60px;
            left: 45px;
            top: 2325px;
            background-image: url(../assets/images/gragus-logo-pistol.jpg);
            background-size: 60px 60px;
            background-repeat: no-repeat;
            display: none;
        }
        .gragusTextallrightsindex { /*NOT DISPLAYED*/
            position: absolute;
            width: 100%;
            max-width: 383px;
            height: auto;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            display: none;
        }
    
    }

