$background-image:url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
$background-color:radial-gradient(74.26% 56.67% at 52.94% 43.33%, #0F2546 27.08%, #305D84 60.42%, #0F2546 92.71%);
$background-color-gray:#ABABAB;